/* Reset padding on all elements */
body,
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 5%;
  font-family: sans-serif;
  background-image: url("/svgs/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  padding-left: 17px;
}

/* Grid layout for task lists */
.lists-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

/* Colors and layouts in both lists */
.task {
  border: 2px solid #000;
  border-radius: 10px;
}
.task:hover {
  border-color: #8abafe;
}

/* To do list */

.todolist-container {
  background-color: #000;
  color: #b6c2cf;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
}

.tasks-container {
  margin: 15px 0;
}

.todolist-container .tasks-container .task {
  background-color: #22272b;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.todolist-container .tasks-container .task:first-child {
  margin-bottom: 0;
}

.todolist-container .tasks-container .task:nth-child(2) {
  margin-top: 15px;
}

.todolist-container .tasks-container .task:last-child {
  margin-bottom: 0;
}

/* Done list */

.donelist-container {
  background-color: #000;
  color: #b6c2cf;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
}

.tasks-container {
  margin: 15px 0;
}

.donelist-container .tasks-container .task {
  background-color: #22272b;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.donelist-container .tasks-container .task:first-child {
  margin-bottom: 0;
}

.donelist-container .tasks-container .task:nth-child(2) {
  margin-top: 15px;
}

.donelist-container .tasks-container .task:last-child {
  margin-bottom: 0;
}

/* + Add a task button */

.show-form {
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: #b6c2cf;
  font-size: 15px;
  width: 100%;
  padding: 10px 0;
  transition: background-color 0.25s;
  transition: color 0.25s;
  display: flex;
  justify-content: center;
}

.show-form:hover {
  background-color: #4f5154;
  color: #cfdcea;
}

/* Submit button */

.submit-button {
  background-color: #579dff;
  border: none;
  color: #000;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
}

.submit-button:hover {
  background-color: #8abafe;
}

/* Done, Not Done, Delete buttons */

.done,
.not-done,
.delete {
  background-color: #22272b;
  border: none;
}

.done:hover,
.not-done:hover,
.delete:hover {
  background-color: #4f5154;
}

/* Form */

.task-form input,
.task-form textarea,
.task-form select {
  display: block;
  width: 100%;
  height: 30px;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.task-form textarea {
  height: 100px;
}

.task-form input::placeholder,
.task-form textarea::placeholder,
.task-form select::placeholder {
  padding-top: 3px;
  padding-left: 3px;
}
